{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template.liquid
{% endcomment %}


  

<div class="columns container">
  <div class="row">
      <div class="col-sm-12 grid-main order-md-2">
          {% section 'collection-template-whole' %}
      </div>
      
      {%- comment -%}
      <div class="col-sm-3 grid-left order-md-1">
          <div class="sidebar sidebar-main">
              <div class="block filter filter-wrapper">
                  <div class="block-title filter-title">
                      <strong>Shop By</strong>
                  </div>
                  <div class="content">
                      <strong class="block-subtitle filter-subtitle" role="heading">Shopping
                          Options</strong>
                      <div class="options filter-options" id="narrow-by-list2">
                          <div data-role="collapsible" class="filter-options-item">
                              <div data-role="title" class="filter-options-title">Category</div>
                              <div data-role="content" class="filter-options-content">
                                  <ol class="items">
                                      <li class="item">
                                          <a href="vitamins-and-supplements/aromatherapy.html">
                                              <span class="item-label">Aromatherapy</span>
                                              <span class="count">49</span>
                                          </a>
                                      </li>
                                      <li class="item">
                                          <a href="vitamins-and-supplements/best-sellers.html">
                                              <span class="item-label">Best Sellers</span>
                                              <span class="count">12</span>
                                          </a>
                                      </li>
                                      <li class="item">
                                          <a href="vitamins-and-supplements/accessories.html">
                                              <span class="item-label">Accessories</span>
                                              <span class="count">4</span>
                                          </a>
                                      </li>
                                      <li class="item">
                                          <a href="vitamins-and-supplements/anti-aging.html">
                                              <span class="item-label">Anti-Aging</span>
                                              <span class="count">9</span>
                                          </a>
                                      </li>
                                      <li class="item">
                                          <a href="vitamins-and-supplements/blood-sugar-support.html">
                                              <span class="item-label">Blood Sugar Support</span>
                                              <span class="count">3</span>
                                          </a>
                                      </li>
                                      <li class="item">
                                          <a href="vitamins-and-supplements/bone-joint-health.html">
                                              <span class="item-label">Bone &amp; Joint Health</span>
                                              <span class="count">11</span>
                                          </a>
                                      </li>
                                      <li class="item">
                                          <a href="vitamins-and-supplements/brain-memory.html">
                                              <span class="item-label">Brain &amp; Memory</span>
                                              <span class="count">8</span>
                                          </a>
                                      </li>
                                      <li class="item">
                                          <a href="vitamins-and-supplements/detox-cleanse.html">
                                              <span class="item-label">Detox &amp; Cleanse</span>
                                              <span class="count">5</span>
                                          </a>
                                      </li>
                                      <li class="item">
                                          <a href="vitamins-and-supplements/digestive-health.html">
                                              <span class="item-label">Digestive Health</span>
                                              <span class="count">5</span>
                                          </a>
                                      </li>
                                      <li class="item">
                                          <a href="vitamins-and-supplements/energy-support.html">
                                              <span class="item-label">Energy Support</span>
                                              <span class="count">14</span>
                                          </a>
                                      </li>
                                      <li class="item">
                                          <a href="vitamins-and-supplements/eye-health.html">
                                              <span class="item-label">Eye &amp; Ear Health</span>
                                              <span class="count">9</span>
                                          </a>
                                      </li>
                                      <li class="item">
                                          <a href="vitamins-and-supplements/heart-health.html">
                                              <span class="item-label">Heart Health</span>
                                              <span class="count">14</span>
                                          </a>
                                      </li>
                                      <li class="item">
                                          <a href="vitamins-and-supplements/immune-health.html">
                                              <span class="item-label">Immune Health</span>
                                              <span class="count">8</span>
                                          </a>
                                      </li>
                                      <li class="item">
                                          <a href="vitamins-and-supplements/mens-health.html">
                                              <span class="item-label">Men&#039;s Health</span>
                                              <span class="count">9</span>
                                          </a>
                                      </li>
                                      <li class="item">
                                          <a href="vitamins-and-supplements/mental-well-being.html">
                                              <span class="item-label">Stress &amp; Mood Support</span>
                                              <span class="count">7</span>
                                          </a>
                                      </li>
                                      <li class="item">
                                          <a href="vitamins-and-supplements/now-sports.html">
                                              <span class="item-label">Sports Performance</span>
                                              <span class="count">21</span>
                                          </a>
                                      </li>
                                      <li class="item">
                                          <a href="vitamins-and-supplements/prostate-health.html">
                                              <span class="item-label">Prostate Health</span>
                                              <span class="count">5</span>
                                          </a>
                                      </li>
                                      <li class="item">
                                          <a href="vitamins-and-supplements/sleep-health.html">
                                              <span class="item-label">Sleep Health</span>
                                              <span class="count">6</span>
                                          </a>
                                      </li>
                                      <li class="item">
                                          <a href="vitamins-and-supplements/hair-skin-nails.html">
                                              <span class="item-label">Hair, Skin &amp; Nails
                                                  Health</span>
                                              <span class="count">6</span>
                                          </a>
                                      </li>
                                      <li class="item">
                                          <a href="vitamins-and-supplements/weight-loss.html">
                                              <span class="item-label">Weight Loss</span>
                                              <span class="count">12</span>
                                          </a>
                                      </li>
                                      <li class="item">
                                          <a href="vitamins-and-supplements/womens-health.html">
                                              <span class="item-label">Women&#039;s Health</span>
                                              <span class="count">8</span>
                                          </a>
                                      </li>
                                  </ol>
                              </div>
                          </div>

                      </div>
                  </div>
              </div>
          </div>
          <div class="sidebar sidebar-additional">
              <div class="block block-wishlist" data-bind="scope: 'wishlist'">
                  <div class="block-title">
                      <strong role="heading" aria-level="2">My Wish List</strong>
                      <span data-bind="text: wishlist().counter" class="counter"></span>
                  </div>
                  <div class="block-content">
                      <strong class="subtitle">Last Added Items</strong>
                      <div class="actions-toolbar no-display">
                          <div class="primary">
                              <a class="action details" href="wishlist/index.html"
                                  title="Go&#x20;to&#x20;Wish&#x20;List"><span>Go to Wish List</span></a>
                          </div>
                      </div>
                      <div class="empty">You have no items in your wish list.</div>
                  </div>
              </div>
          </div>
      </div>
      {%- endcomment -%}

  </div>
</div>