<div class="product_compare d-none">
    <table>
        <tbody>
            <tr>
                <th></th>
                <th>Product 1</th>
                <th>Product 2</th>
            </tr>
            <tbody data-products>
                <tr data-image>
                    <td>Image</td>
                    <td data-image1>
                    </td>
                    <td data-image2>
                    </td>
                </tr>
                <tr data-title>
                    <td>Title</td>
                    <td data-title1></td>
                    <td data-title2></td>
                </tr>
                <tr data-price>
                    <td>Price</td>
                    <td data-price1></td>
                    <td data-price2></td>
                </tr>
                <tr data-type>
                    <td>Type</td>
                    <td data-type1></td>
                    <td data-type2></td>
                </tr>
                <tr data-vendor>
                    <td>Vendor</td>
                    <td data-vendor1></td>
                    <td data-vendor2></td>
                </tr>
            </tbody>
        </tbody>
    </table>

    <div class="clear_all text-right">
        <button class="btn" data-clear>Clear</button>
    </div>
</div>
<div class="no_products d-none text-center">
    <h3>There are no any products for comparison.</h3>
</div>
